<!DOCTYPE html>

<head>
  <title>MathBot Beta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
  <!-- css -->
  <link href="{{ url_for('static', filename='upload.css') }}" rel="stylesheet">
  <style>
    body {
      background: #e6e6e6;
    }
  </style>
  
</head>

<body>
  <!--Navbar -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">MathBot Beta 0.1</a>
      <form class="form-inline">
        <div class="nav-item dropdown show">
          <a class="nav-link dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#" id="logout">Log out</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <!--/.Navbar -->

  <div class="container drop-zone px-4 py-5 mt-5">
    <span class="drop-zone__prompt">Drop file here or click to upload</span>
    <input type="file" id= "input" name="uploadFile" class="drop-zone__input">
  </div>


  <div class="container mt-5 mb-5">
    <form class="form-group" action="data" enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <label for="formGroupExampleInput">Upload your week results here: </label>
        <input type="file" name="uploadFile" value=""
          accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Insert this week fees: </label>
        <input type="number" name="fee" placeholder="Enter amount..." class="form-control" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Amount paid early this week to Ryan:</label>
        <input type="number" name="ryan" placeholder="Enter amount..." class="form-control" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Amount paid early this week to Zane:</label>
        <input type="number" name="zane" placeholder="Enter amount..." class="form-control" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Amount paid early this week to Austin:</label>
        <input type="number" name="austin" placeholder="Enter amount..." class="form-control" required>
      </div>
      <div class="form-group">
        <input type="submit" name="" value="Calculate all Payments" class="btn btn-success w-75 btn-block mx-auto mt-5">
      </div>
      <div class="form-group">
        {% if us %}
        <p class="alert alert-danger center-align mt-3">{{us}}</p>
        {% endif %}
      </div>
    </form>
  </div>

  <section id="about">
    <div class="container bg-light px-4 mt-5">
        <div class="row gx-4 justify-content-center mt-5 mb-5">
            <div class="col-lg-8 mt-5 mb-5">
                <h2 class="">How it works</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit, sagittis erat est condimentum auctor iaculis. Blandit consequat sodales erat conubia quam dictumst pellentesque mauris. Follow steps: </p>
                <ul>
                    <li>Clickable nav links that smooth scroll to page sections</li>
                    <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                    <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                    <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                </ul>
            </div>
            <img src="{{url_for('static', filename='asdf.png')}}" class="mb-5">
        </div>
    </div>
</section>


  <!-- firebase scripts-->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyCis1HsZLVWRATo3bBDApgctASCvQpzZM0",
      authDomain: "luciobot-9138b.firebaseapp.com",
      databaseURL: "https://luciobot-9138b-default-rtdb.firebaseio.com",
      projectId: "luciobot-9138b",
      storageBucket: "luciobot-9138b.appspot.com",
      messagingSenderId: "1063456209794",
      appId: "1:1063456209794:web:2e5129d3d553e49a06ad9b",
      measurementId: "G-YK6JP0S5EB"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();
    firebase.analytics();
  </script>

  <!-- JS script-->
  <script type="text/javascript" src="{{ url_for('static', filename='upload.js') }}"></script>

</body>